<!DOCTYPE html>
<html>
<head>
	<title>New Campus Application</title>
</head>
<body>
	<p>Add New Campus Here!</p>
	<form action="/new/campus" method="POST">
		<input type="text" name="name" placeholder="Location">
		<button type="submit">Save New Location</button>
	</form>
	
</body>
</html>