#contact-info{
	font-size: .8em;
}
.job{
	background-color: #e9e5dc;
	padding-bottom: 5px;  
	margin-top: 5px;
	margin-bottom: 5px;
}
.small{
	font-size: .8em;
} 
#hover:hover {
	color: blue;
}

/* Our selector with select the second li of every ul */
ul li:nth-child(2) {
	color: red;
}